.skillsBlock{
  display: flex;
  flex-direction: column;
  width: 100%;
  padding-top: 30px; 
}

.skillsBlock h2{
  font-size: 45px;
  font-weight: 500;
  line-height: 50px;
  text-decoration: none;
  text-align: center;
  color: #4EB037;
}

@media (max-width: 950px){
  .skillsBlock{
    padding-top: 20px; 
  }

  .skillsBlock h2{
    font-size: 30px;
  }  
}

@media (max-width: 450px){
  .skillsBlock{
    padding-top: 10px; 
  }

  .skillsBlock h2{
    font-size: 15px;
  }  
}